
html{
  background-image: url('Img.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  }
  
  html{
    height: 200000vh;
    width: 200000vw;
  }

  h1{
  font-family: "Tourney", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



  h1{
    border: 10px solid white;
    padding: 20px;
    border-radius: 15px;
     background-image: linear-gradient(rgb(7, 158, 251), rgb(147, 9, 207));
    color: rgb(8, 8, 8);
    size: 100px;
    position: fixed;
    top: 100px;
    left: 100px;
  }
  
  small{
    color: white;
  }
  small{
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-family: "Tourney", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
      color: white;
  }




