
html{
  background-image: url('Img.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  }
  
  html{
    height: 200000vh;
    width: 200000vw;
  }

small{
  position: fixed;
  color: white;
}

.Sun {
  position: relative;
  bottom: 10000px;
  left: 10000px;
  width: 200px;
  height: 200px;
  margin: -100px 0 0 -100px;
  background: radial-gradient(circle at center, #FFD700, #FFA500);
  border-radius: 50%;
  box-shadow: 0 0 30px 10px rgba(255, 215, 0, 0.5);
  z-index: 1000;
}